
src/sim/slprj/_sfprj/precompile/

src/sim/slprj/_sfprj/fullLoop/_self/sfun/info/

src/sim/slprj/_sfprj/EMLReport/

src/sim/slprj/_jitprj/


src/sim/\.SimulinkProject/

*.fig

fig/old/

*.m~

*.enf

*.prj

src/modeling/sim/slprj/_jitprj/

src/modeling/sim/\.SimulinkProject/

fig/all/old/

fig/AA01/old/

fig/AA02/old/

fig/AA03/old/

fig/AA04/old/

fig/AA05/old/

fig/AA08/old/

fig/AA07/old/

fig/AA09/old/

*.png

src/modeling/sim/slprj/_sfprj/precompile/

src/modeling/sim/slprj/_sfprj/fullLoop/_self/sfun/info/

src/modeling/sim/slprj/_sfprj/EMLReport/

src/modeling/sim/

data/old/

src/matlab_workspace\.mat
