
src/sim/slprj/_sfprj/precompile/

src/sim/slprj/_sfprj/fullLoop/_self/sfun/info/

src/sim/slprj/_sfprj/EMLReport/

src/sim/slprj/_jitprj/

*.mat

src/sim/\.SimulinkProject/

*.fig

fig/old/

*.m~

*.enf

*.prj

src/modeling/sim/slprj/_jitprj/

src/modeling/sim/\.SimulinkProject/
